.filters {
    .selected{
        background-color: #2F614D;;
        color:#fff;

    }
}

.clear-completed {
    padding: 2px 3px;
    margin-bottom: 2px;
    border-radius: 3px;
    background-color: #b83f45;
    color: #fff;
}